.grafico-container {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .date-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .date-form div {
    flex: 1;
    margin: 0 10px;
  }
  
  .date-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .date-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  .chart {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  